<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>web </title>
    <style>
        body {
            background-color: rgb(104, 69, 22);
            background-image: url('../public/images/showcase-photo1.jpg');
        }
        h1{
            padding-right: 250px;
        }
        .topnav {
          
            background-color: rgb(104, 69, 22);
        }
        .topnav .search-container {
            float: left;
        }

        .topnav input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .topnav .search-container button {
            float: center;
            padding: 3px;
            margin-top: 8px;
            margin-right: 16px;
            background: rgb(126, 31, 31);
            font-size: 17px;
            border: 2px;
            cursor: pointer;
        }

        .topnav .search-container button:hover {
            background: rgb(10, 102, 102);
        }

        @media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }

            .topnav a,
            .topnav input[type=text],
            .topnav .search-container button {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
                padding-right: 20px;
            }

            .topnav input[type=text] {
                border: 1px solid #ccc;
            }
        }
        .topnav    .dropdown{
    display:inline-block;
    position:relative;
  }

 .topnav .dropdown button{
    border:none;
    padding:10px 10px 10px 10px;
    background-color:#055455;
    color:rgb(236, 241, 244);
    transition:.3s;
    cursor:pointer;
  }
  
 .topnav .dropdown:hover button{
    background-color:#137653;
  }
  
 .topnav .dropdown div{
    background-color:rgb(6, 191, 135);
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s;
  }
  
 .topnav .dropdown:hover div{
    visibility:visible;
    opacity:1;
  }

  
  
  .topnav .dropdown div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  }
  
  .topnav .dropdown div a:hover{
    background-color:#2196F3;
    color:#fff;
  }
        h1 {
            text-align: center;
        }

        .image {
            height: 55%;
        }

        .card {
            height: 450px;
            width: 300px;
            margin: 20px;
            margin-left: 80px;
            display: inline-block;
            background-color: rgb(90, 156, 121);
        }

        .container {
            padding: 2px 8px;
            height: 45%;
        }

        .main{
            display: flex;
            
            flex-wrap: wrap;
        }
   
    </style>
</head>

<body>
 
   
    <div class="topnav">
     
        <div class="dropdown">
           
            <button >Sorting Filter</button><style>button{padding-left:500px}</style>
            <div>
                <a href="/view/Sorting/DESC/<%=+CurrentPage%>">By Descending</a>
              <a href="/view/Sorting/ASC/<%=+CurrentPage%>"> By Ascending</a>
              
            </div>
        
          </div> 

        <div class="search-container">
            <form action="/search" method="post">
                <input type="text" placeholder="Search by name" name="sname">
                <button type="submit">Search</button>
            </form>
            
        </div>
    </div>
   
<h1><u><b>Student Users</b></u></h1>
    <hr>
    <div class="main">
        <% data.forEach(function(item){ %>
            <div class="card">
                <div class="image">
                    <img src="/images/<%= item.profile %>" alt="Profile Picture Not Found"
                        style="height: 100%; width: 100%;">
                </div>
                <div class="container">
                    <h4>
                        <span>Id :</span>
                        <%= item.user_id %>
                    </h4>
                    <h4>
                        <span>Name :</span>
                        <%= item.Name %>
                    </h4>
                    <h4>
                        <span>City: 
                        <%= item.City %> 
                    </h4>
                    <h4>
                        <span>Dept: 
                        <%= item.Dept %>
                    </h4>
                  
                    <a href="/add %>" class="btn btn-warning">Add</a>
                    <a href="/update/<%= item.user_id %>" class="btn btn-warning">Edit</a>
                    <a href="/view/<%= item.user_id %>" class="btn btn-warning">Delete</a>
                    

                </div>
            </div>
            <% }); %>
    </div>

    <div class="container mt-3 d-flex justify-content-cente">
        <ul class="pagination">

            <% if(CurrentPage==1) {%>
                <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                <% } else {%>
                    <li class="page-item"><a class="page-link" href="/view/?page=<%=CurrentPage-1%>">Previous</a></li>
                    <% } %>

                        <% for(let i=1; i<=pages; i++){ %>
                            <% if(i==CurrentPage){ %>
                                <li class="page-item active"><a class="page-link" href="/view/?page=<%=i%>">
                                        <%=i%>
                                    </a></li>
                                <% } else {%>
                                    <li class="page-item"><a class="page-link" href="/view/?page=<%=i%>">
                                            <%=i%>
                                        </a></li>
                                    <% } %>
                                        <% } %>

                                            <% if(CurrentPage==lastPage) {%>
                                                <li class="page-item disabled"><a class="page-link" href="">Next</a>
                                                </li>
                                                <% } else {%>
                                                    <li class="page-item "><a class="page-link"
                                                            href="/view/?page=<%=+CurrentPage+1%>">Next</a></li>
                                                    <% } %>
        </ul>
    </div>
</body>

</html>